$header-bg: #181A1B;
$color-text: #fff;
$cancel: rgb(226, 21, 21);

.header {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: $header-bg;
    padding: 25px 0;
    z-index: 1;

    &.open {
        .burger-btn {
            span {
                background-color: $cancel;

                &:nth-child(1) {
                    transform: translateY(0) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
    }
}

.burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;

    &:hover {
        cursor: pointer;
    }

    span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: $color-text;
        left: 5px;
        transition: transform .5s, opacity .5s, background-color .5s;

        &:nth-child(1) {
            transform: translateY(-10px);
        }

        &:nth-child(2) {
            // ...
        }

        &:nth-child(3) {
            transform: translateY(10px);
        }
    }
}

.header-container {
    max-width: 1600px;
    margin: 0 auto;
}

.navigation-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    color: $color-text;
    list-style: none;
    gap: 25px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        transition: 1s;
        gap: 10px;

        &:hover {
            text-shadow: 1px 1px 2px $color-text;

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 1px;
            /* Высота зачеркивающей линии */
            background: $color-text;
            /* Цвет зачеркивающей линии */
            top: 115%;
            transition: 1s;
        }
    }
}



@media (max-width: 1600px) {
    .header-container {
        max-width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 1160px) {


    // Шапка
    .burger-btn {
        display: block;
    }

    .header {
        &.open {
            .navigation {
                transform: translateX(100%);
            }
        }
    }



    .navigation {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #141414;
        transition: transform .5s;

        &__item {
            font-size: 20px;
        }
    }


    // Конец шапка
}

@media (max-width: 800px){

    @media (hover: none) and (pointer: coarse) {
        /* ... */
    }
}